<nav id="{{id}}" class="nightsky-tabs {{class}}" aria-labelledby="{{id}}-label" {{{html-user-language-attributes}}}>
  <h2 id="{{id}}-label" class="nightsky-visually-hidden">{{msg-nightsky-associated-pages}}</h2>
  <div class="mw-portlet-body"><ul class="wiki-topbar-tabs">{{{html-items}}}</ul>{{{html-after-portal}}}</div>
</nav>
