<footer id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
  {{#data-info}}{{>FooterList}}{{/data-info}}
  {{#data-places}}{{>FooterList}}{{/data-places}}
  {{#data-icons}}{{>FooterList}}{{/data-icons}}
</footer>
