<nav id="{{id}}" class="wiki-sidebar-block {{class}}" aria-labelledby="{{id}}-label" {{{html-user-language-attributes}}}>
  <h2 id="{{id}}-label" class="wiki-sidebar-head">{{msg-nightsky-user-page}}</h2>
  <div class="mw-portlet-body">{{{html-before-portal}}}<ul>{{{html-items}}}</ul>{{{html-after-portal}}}</div>
</nav>
