@import 'mediawiki.skin.defaults.less';
@background-color-base: #08080a;
@background-color-neutral: #101014;
@background-color-interactive: #18181e;
@color-base: #d8d8dc;
@color-emphasized: #ffffff;
@color-subtle: #a4a4af;
@color-link: #b0b0f4;
@color-link--visited: #b2a7d8;
@border-color-base: #3a3a44;
@border-color-subtle: #26262e;
@font-family-base: system-ui, -apple-system, 'Segoe UI', sans-serif;
